body {
  background: linear-gradient(135deg, #9fd4ad, #f8f8f8);
  font-family: "Arial", sans-serif;
  color: #4d4f4e;
  font-size: 14px;
  line-height: normal;
}

#rounded-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.container {
  margin: 60px 60px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.cardleft h2,
.cardright h2 {
  text-align: center;
}

.cardmain {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 0px 15px 0px rgba(86, 90, 85, 0.5);
}

.cardmain p a {
  color: rgb(22, 184, 108);
  text-decoration: none;
  transition: color 0.7s ease;
  display: inline-block;
  perspective: 1000px;
}


.cardmain p a:hover {
  color: rgb(245, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  animation: flip 4s infinite, rainbow 3s infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes rainbow {
  0% { color: red; }
  16.6% { color: orange; }
  33.3% { color: yellow; }
  50% { color: green; }
  66.6% { color: blue; }
  83.3% { color: indigo; }
  100% { color: violet; }
}


.cardleft {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 0px 15px 0px rgba(86, 90, 85, 0.5);
  text-align: left;
}

.cardleft p a {
  text-decoration: none;
  color: rgb(62, 163, 62);
  font-weight: bolder;
}

.cardleft p a:hover {
  color: rgb(2, 99, 7);
  text-transform: uppercase;
  font-weight: bold;
}

.cardright {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 0px 15px 0px rgba(86, 90, 85, 0.5);
  text-align: right;
}

.cardright p a {
  text-decoration: none;
  color: rgb(62, 163, 62);
  font-weight: bolder;
}

.cardright p a:hover {
  color: rgb(2, 99, 7);
  text-transform: uppercase;
  font-weight: bold;
}

.description-pics-right {
  border-radius: 50%;
  float: right;
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

.description-pics-left {
  border-radius: 50%;
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 30px;
  overflow: hidden
}

h1 {
  color: #042414;
}

h2 {
  color: #1c804e;
  padding: 5px;
  margin: 0;
}

.hover-effect {
  transition: color 2s;

}

.hover-effect:hover {
  color: rgb(93, 245, 161);
}

h3 {
  color: #00d369;
}

h3:hover {
  text-transform: uppercase;
}


i.fab {
  margin: 10px;
}

i.fab.fa-facebook-f {
  color: #1877F2;
  font-size: 40px;
}

i.fab.fa-facebook-f:hover {
  color: #708eb4;
  font-size: 40px;
}

i.fab.fa-linkedin-in {
  color: #0072b1;
  font-size: 40px;
}

i.fab.fa-linkedin-in:hover {
  color: #72acf8;
  font-size: 40px;
}

i.fab.fa-instagram {
  color: #cd486b;
  font-size: 40px;
}

i.fab.fa-instagram:hover {
  color: #d6a0ae;
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
}
